<h1> Sign Up </h1>

<form action="/insert_user_record" method="post">
  <div>
    <label for="browser_username"> Username </label>
    <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">
  </div> 

  <div>
    <label for="Password"> Password </label>
    <input id="Password" type="password" name="qs_password">
  </div>

  <div>
    <label for="password_confirmation"> Password Confirmation </label>
    <input id="password_confirmation"type="password" name="qs_password_confirmation">
  </div>

  <div>
    <label for="browser_private"> Private </label>
    <input type = "checkbox" id="browser_private" name="input_private">
  </div>

  <div>
    <button> Sign Up </button>
  </div>
</form>